ai.engine/workflows/nodered/n8n-integration-flow.json
[
  {
    "id": "n8n-webhook-trigger",
    "type": "http in",
    "z": "flow-n8n-integration",
    "name": "n8n Trigger",
    "url": "/n8n/webhook",
    "method": "post",
    "swaggerDoc": "",
    "x": 120,
    "y": 100,
    "wires": [["format-n8n-request"]]
  },
  {
    "id": "format-n8n-request",
    "type": "function",
    "z": "flow-n8n-integration",
    "name": "Format Request",
    "func": "// Format incoming n8n webhook request\nconst payload = msg.payload;\nconst headers = msg.req.headers;\n\nmsg.payload = {\n  source: 'n8n',\n  timestamp: new Date().toISOString(),\n  data: payload,\n  headers: headers\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 320,
    "y": 100,
    "wires": [["process-n8n-data"]]
  },
  {
    "id": "process-n8n-data",
    "type": "switch",
    "z": "flow-n8n-integration",
    "name": "Route by Type",
    "property": "payload.data.type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "agent-event", "vt": "str" },
      { "t": "eq", "v": "health-alert", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 320,
    "y": 180,
    "wires": [
      ["handle-agent-event"],
      ["handle-health-alert"],
      ["handle-other"]
    ]
  },
  {
    "id": "handle-agent-event",
    "type": "function",
    "z": "flow-n8n-integration",
    "name": "Handle Agent Event",
    "func": "// Process agent event from n8n\nconst data = msg.payload.data;\n\nmsg.payload = {\n  event: 'agent-event',\n  agent: data.agent,\n  trigger: data.trigger,\n  output_file: data.output_file,\n  timestamp: msg.payload.timestamp\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 540,
    "y": 100,
    "wires": [["log-agent-event", "forward-to-processor"]]
  },
  {
    "id": "handle-health-alert",
    "type": "function",
    "z": "flow-n8n-integration",
    "name": "Handle Health Alert",
    "func": "// Process health alert from n8n\nconst data = msg.payload.data;\n\nmsg.payload = {\n  event: 'health-alert',\n  service: data.service,\n  status: data.status,\n  health_check: data.health_check,\n  timestamp: msg.payload.timestamp\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 540,
    "y": 140,
    "wires": [["log-health-alert", "trigger-notification"]]
  },
  {
    "id": "handle-other",
    "type": "function",
    "z": "flow-n8n-integration",
    "name": "Handle Other",
    "func": "// Process other events\nreturn msg;",
    "outputs": 1,
    "x": 540,
    "y": 180,
    "wires": [["log-generic-event"]]
  },
  {
    "id": "log-agent-event",
    "type": "debug",
    "z": "flow-n8n-integration",
    "name": "Log Agent Event",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 100,
    "wires": []
  },
  {
    "id": "log-health-alert",
    "type": "debug",
    "z": "flow-n8n-integration",
    "name": "Log Health Alert",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 140,
    "wires": []
  },
  {
    "id": "log-generic-event",
    "type": "debug",
    "z": "flow-n8n-integration",
    "name": "Log Generic Event",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 180,
    "wires": []
  },
  {
    "id": "forward-to-processor",
    "type": "http request",
    "z": "flow-n8n-integration",
    "name": "Call Agent API",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://host.docker.internal:8081/api/v1/agents/invoke",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 760,
    "y": 60,
    "wires": [["process-response"]]
  },
  {
    "id": "process-response",
    "type": "function",
    "z": "flow-n8n-integration",
    "name": "Process Response",
    "func": "// Process agent API response\nconst response = msg.payload;\n\nmsg.payload = {\n  status: response.status,\n  agent: response.agent,\n  output_file: response.output_file,\n  message: response.message || 'Agent executed'\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 980,
    "y": 60,
    "wires": [["http-response"]]
  },
  {
    "id": "trigger-notification",
    "type": "http request",
    "z": "flow-n8n-integration",
    "name": "Send to Alertmanager",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://alertmanager:9093/api/v1/alerts",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 760,
    "y": 100,
    "wires": []
  },
  {
    "id": "http-response",
    "type": "http response",
    "z": "flow-n8n-integration",
    "name": "Response",
    "statusCode": "200",
    "headers": {},
    "x": 1180,
    "y": 60,
    "wires": []
  },
  {
    "id": "docker-event-monitor",
    "type": "inject",
    "z": "flow-n8n-integration",
    "name": "Monitor Docker Events",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 280,
    "wires": [["docker-events"]]
  },
  {
    "id": "docker-events",
    "type": "exec",
    "z": "flow-n8n-integration",
    "command": "docker",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Docker Events",
    "x": 360,
    "y": 280,
    "wires": [
      ["filter-docker-events"],
      ["error-handler"]
    ],
    "env": []
  },
  {
    "id": "filter-docker-events",
    "type": "function",
    "z": "flow-n8n-integration",
    "name": "Filter Events",
    "func": "// Filter Docker events and trigger n8n webhooks\nconst output = msg.payload;\nconst lines = output.split('\\n').filter(l => l.trim());\n\nconst criticalEvents = lines.filter(line => \n  line.includes('die') || \n  line.includes('health_status: unhealthy')\n);\n\nif (criticalEvents.length > 0) {\n  criticalEvents.forEach(event => {\n    const msg = {\n      payload: {\n        event: event,\n        timestamp: new Date().toISOString(),\n        type: 'docker-event'\n      }\n    };\n    node.send(msg);\n  });\n}\n\nreturn null;",
    "outputs": 1,
    "x": 560,
    "y": 280,
    "wires": [["trigger-n8n-webhook"]]
  },
  {
    "id": "trigger-n8n-webhook",
    "type": "http request",
    "z": "flow-n8n-integration",
    "name": "Trigger n8n Webhook",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://n8n:5678/webhook/health-alert",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 780,
    "y": 280,
    "wires": []
  },
  {
    "id": "error-handler",
    "type": "catch",
    "z": "flow-n8n-integration",
    "name": "Error Handler",
    "scope": null,
    "uncaught": false,
    "x": 560,
    "y": 340,
    "wires": [["log-error"]]
  },
  {
    "id": "log-error",
    "type": "debug",
    "z": "flow-n8n-integration",
    "name": "Log Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 340,
    "wires": []
  }
]

