ai.engine/workflows/nodered/notification-router.json
[
    {
        "id": "notification-router-flow",
        "type": "tab",
        "label": "Notification Router",
        "disabled": false,
        "info": "Routes agent notifications based on severity to appropriate channels",
        "env": []
    },
    {
        "id": "notify-http-in",
        "type": "http in",
        "z": "notification-router-flow",
        "name": "Receive Notification",
        "url": "/notifications",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "notify-parse"
            ]
        ]
    },
    {
        "id": "notify-parse",
        "type": "function",
        "z": "notification-router-flow",
        "name": "Extract Severity",
        "func": "// Parse notification payload\nconst payload = msg.payload;\n\n// Extract severity from payload\nlet severity = 'info';\nif (payload.severity) {\n    severity = payload.severity.toLowerCase();\n} else if (payload.level) {\n    severity = payload.level.toLowerCase();\n} else if (payload.critical_count > 0) {\n    severity = 'critical';\n} else if (payload.warning_count > 0) {\n    severity = 'warning';\n}\n\nmsg.severity = severity;\nmsg.notification = {\n    agent: payload.agent || 'unknown',\n    message: payload.message || payload.summary || 'Agent execution completed',\n    timestamp: payload.timestamp || new Date().toISOString(),\n    severity: severity,\n    data: payload\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "notify-switch"
            ]
        ]
    },
    {
        "id": "notify-switch",
        "type": "switch",
        "z": "notification-router-flow",
        "name": "Route by Severity",
        "property": "severity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "critical",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "warning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "info",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "notify-discord",
                "notify-alertmanager",
                "notify-email"
            ],
            [
                "notify-alertmanager",
                "notify-email"
            ],
            [
                "notify-email",
                "notify-wikijs"
            ],
            [
                "notify-wikijs",
                "notify-log"
            ]
        ]
    },
    {
        "id": "notify-discord",
        "type": "http request",
        "z": "notification-router-flow",
        "name": "Discord Webhook",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "${DISCORD_WEBHOOK_URL}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "str",
                "keyValue": "Content-Type",
                "valueType": "str",
                "valueValue": "application/json"
            }
        ],
        "x": 880,
        "y": 60,
        "wires": [
            [
                "notify-response"
            ]
        ]
    },
    {
        "id": "notify-alertmanager",
        "type": "http request",
        "z": "notification-router-flow",
        "name": "Alertmanager",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://alertmanager:9093/api/v1/alerts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "str",
                "keyValue": "Content-Type",
                "valueType": "str",
                "valueValue": "application/json"
            }
        ],
        "x": 880,
        "y": 100,
        "wires": [
            [
                "notify-response"
            ]
        ]
    },
    {
        "id": "notify-email",
        "type": "http request",
        "z": "notification-router-flow",
        "name": "Email (via n8n)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://n8n:5678/webhook/send-email",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "str",
                "keyValue": "Content-Type",
                "valueType": "str",
                "valueValue": "application/json"
            }
        ],
        "x": 880,
        "y": 140,
        "wires": [
            [
                "notify-response"
            ]
        ]
    },
    {
        "id": "notify-wikijs",
        "type": "http request",
        "z": "notification-router-flow",
        "name": "Update WikiJS",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://wiki:3000/api/rest/v1/pages",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "str",
                "keyValue": "Content-Type",
                "valueType": "str",
                "valueValue": "application/json"
            }
        ],
        "x": 880,
        "y": 180,
        "wires": [
            [
                "notify-response"
            ]
        ]
    },
    {
        "id": "notify-log",
        "type": "file",
        "z": "notification-router-flow",
        "name": "Log to File",
        "filename": "/root/infra/orchestration/notifications.log",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "notify-response",
        "type": "http response",
        "z": "notification-router-flow",
        "name": "Send Response",
        "statusCode": "200",
        "headers": {},
        "x": 1080,
        "y": 100,
        "wires": []
    }
]

